extends layout

block main
  section#habits
    header
      h2= habit.getTitle()
    
    ul#habits
      li I said I would #{habit.getTitle()} for #{habit.getGoalUnits()} #{habit.getUnit()} each day
      form(action=`/habits/${habit.id}/edit` method="post")
        dl 
          dt 
            label(for="achievedUnits") 
              li Today I've managed the following #{habit.getUnit()}:
                input(type="text"
                    name="achievedUnits"
                    id="achievedUnits"
                    placeholder=habit.getAchievedUnits()
                    value=habit.getAchievedUnits())
        dl 
          dt 
            label(for="notes")
              li Notes:   
                input(type="text"
                      name="notes"
                      id="notes"
                      placeholder="How did this habit go today?"
                      value=habit.getNotes())
          fieldset.actions 
            button(type="submit") Save

block headerLinks
  .actions
    a.list(href="/habits") All Habits
